---
import DragonRadar from "../components/svg/DragonRadar.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Página no encontrada - Error 404" />
        <title>404 - Página no encontrada</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            html,
            body {
                width: 100vw;
                height: 100vh;
                background-color: rgb(10, 22, 37);
                color: #f1f1f1;
                font-family: Arial, sans-serif;
            }
            body {
                overflow: hidden;
            }

            main.error-page {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                height: 100%;
            }

            main.error-page article.error-text {
                text-align: center;
            }
            main.error-page article.error-text h1 {
                font-size: 1.75rem;
                margin: 1rem 0 0.5rem;
            }
            main.error-page article.error-text h2 {
                font-size: 1.55rem;
                font-weight: normal;
                margin-bottom: 1.5rem;
            }
            main.error-page article.error-text a {
                font-size: 1.25rem;
                color: #f1f1f1;
                text-decoration: none;
                border: 1px solid #f1f1f1;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                transition:
                    background-color 0.3s,
                    color 0.3s;
                display: inline-block;
            }
            main.error-page article.error-text a:hover {
                background-color: #f1f1f1;
                color: rgb(10, 22, 37);
            }

            main.error-page article.error-svg {
                margin: 0 0 20rem;
                padding: 1rem;
            }

            @media (min-width: 768px) {
                main.error-page {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                }
                main.error-page article.error-svg {
                    margin: 0;
                }
                main.error-page article.error-text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    max-width: 600px;
                    margin: 0 auto;
                    text-align: left;
                }
                main.error-page article.error-text h1 {
                    font-size: 6.5rem;
                    margin-bottom: 1rem;
                }
                main.error-page article.error-text h2 {
                    font-size: 3rem;
                    margin-bottom: 2.5rem;
                }
                main.error-page article.error-text a {
                    font-size: 1.5rem;
                    align-self: flex-start;
                }
            }
        </style>
    </head>
    <body>
        <main class="error-page" role="main">
            <article class="error-text">
                <h1>Página no encontrada.</h1>
                <h2>Ups. Parece que la página que estás buscando no existe.</h2>
                <a href="/">Volver al inicio</a>
            </article>
            <article class="error-svg">
                <DragonRadar />
            </article>
        </main>
    </body>
</html>
