---
import FilterSection from "../components/FilterSection.astro";
import Layout from "../layouts/Layout.astro";
import { getSummaryCharacters } from "../services/getData";
import RenderCard from "../components/RenderCard.astro";

const characters = await getSummaryCharacters();
---

<Layout Title="Personajes">
	<FilterSection />

	<section class="characters-render">
		{characters && characters.map((e) => <RenderCard char={e} />)}
	</section>
</Layout>

<style>
	section.characters-render {
		padding: 1rem 1rem;
		height: inherit;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0 16px;
	}

	@media (min-width: 600px) {
		section.characters-render {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media (min-width: 1000px) {
		section.characters-render {
			grid-template-columns: repeat(5, 1fr);
			padding: 1rem 2rem;
		}
	}

	@media (min-width: 1200px) {
		section.characters-render {
			grid-template-columns: repeat(6, 1fr);
		}
	}
</style>
