---
import Dashboard from "./svg/Dashboard.astro";
import User from "./svg/User.astro";
import Lang from "./svg/Lang.astro";
import Menu from "./svg/Menu.astro";
---

<header>
    <nav>
        <h4>BOX</h4>
        <ul class="nav-links">
            <!-- <li><a href="/">Pagina principal</a></li> -->
            <li><a href="/">Personajes</a></li>
            <!-- <li><a href="/equips">Fragmentos</a></li> -->
        </ul>
        <ul class="nav-buttons">
            <!-- <li>
                <a href="/dashboard/">
                    <div><Lang /></div>
                </a>
            </li>
            <li>
                <a href="/dashboard/">
                    <div><User /></div>
                </a>
            </li>
            <li>
                <a href="/dashboard/">
                    <div><Dashboard /></div>
                </a>
            </li> -->
            <li class="menu"><a><div><Menu /></div></a></li>
        </ul>
    </nav>
</header>

<style>
    :root {
        --color-1: var(--bg-second);
        --color-2: var(--bg-third);
    }

    h4 {
        margin-right: 1.25rem;
    }

    ul li:not(.menu) {
        display: none;
    }

    header {
        margin: 0 0 2rem 0;
        padding: 0.5rem 1rem;
        border-radius: 0;
        width: 100%;
        background-color: var(--color-1);
        outline: 2px solid var(--color-2);
        backdrop-filter: blur(24px);
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0rem;
        left: 1rem;
        z-index: 5;
        transition:
            background 0.15s ease-in-out,
            outline 0.15s ease-in-out;

        nav,
        ul {
            width: 100%;
            display: flex;
            align-items: center;
        }

        ul.nav-links {
            gap: 1.25rem;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style-type: none;
                padding: 0.5rem 1rem;
                border-radius: var(--round-md);
                transition: background 0.3s ease-in-out;

                &:hover {
                    background-color: #f1f1f1;

                    a {
                        filter: invert();
                    }
                }

                a {
                    text-decoration: none;
                    color: #f1f1f1;
                    font-size: 1.25rem;
                    font-weight: 600;
                    transition: filter 0.3s ease-in-out;
                }
            }
        }

        ul.nav-buttons {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5rem;

            li {
                list-style-type: none;
                border-radius: var(--round-md);
                transition: background 0.3s ease-in-out;

                &:hover {
                    background-color: #f1f1f1;

                    svg {
                        filter: invert();
                    }
                }

                a {
                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 48px;
                        aspect-ratio: 1/1;

                        svg {
                            transition: filter 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 769px) {
        ul li:not(.menu) {
            display: block;
        }
        .menu {
            display: none;
        }
        header {
            border-radius: var(--round-md);
            padding: 1rem 2rem;
            top: 1rem;
        }
    }

    @media (min-width: 1025px) {
        header {
            border-radius: var(--round-md);
            top: 1rem;
        }
    }
</style>
